CompileFlags:
  CompilationDatabase: build
  Add:
    - --target=xtensa-esp32s3-elf
    - -isystem/Volumes/maqassd/.espressif/tools/xtensa-esp-elf/esp-15.2.0_20251204/xtensa-esp-elf/xtensa-esp-elf/include
    - -isystem/Volumes/maqassd/.espressif/tools/xtensa-esp-elf/esp-15.2.0_20251204/xtensa-esp-elf/lib/gcc/xtensa-esp-elf/15.2.0/include
    - -isystem/Volumes/maqassd/.espressif/tools/xtensa-esp-elf/esp-15.2.0_20251204/xtensa-esp-elf/lib/gcc/xtensa-esp32s3-elf/15.2.0/include-fixed
    - -Wno-unknown-warning-option
    - -Wno-unused-command-line-argument
  Remove:
    - -fno-tree-switch-conversion
    - -fstrict-volatile-bitfields
    - -fzero-init-padding-bits=all
    - -fno-malloc-dce
    - -mlongcalls

Diagnostics:
  Suppress:
    - pp_file_not_found
